<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cursos</title>
    <link rel="stylesheet" href="{{ url_for('/static', filename='css/stylescursos.css') }}">
</head>
<body>
    <div>
        <h1>Nuevo cursos</h1>
        <p>Nombre:</p>
    </div>

    <div>
        <h1>Todos los cursos</h1>


    <div class="caja-menu">
        <a href="#">MERN</a>
        <a href="#">Java</a>
        <a href="#">Python</a>
        <a href="#">Fundamentos de la Web</a>
</div>



</body>
</html>